<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/zhangcheng13/java_xiangmu/TestGit002">
        <classes>
            <class name="org.playwr.tests.Test"></class>
        </classes>
    </test>
</suite>